<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832291138789-8os6j3cj0jq21jagv1mkktsfokju4l51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832291138789-8os6j3cj0jq21jagv1mkktsfokju4l51</string>
	<key>API_KEY</key>
	<string>AIzaSyA7KBZ3NycainqSKG-1dNkqybfOT1HUpt4</string>
	<key>GCM_SENDER_ID</key>
	<string>832291138789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snowmanchallenge</string>
	<key>PROJECT_ID</key>
	<string>snowman-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>snowman-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832291138789:ios:4b728da2c770501ebfb80c</string>
	<key>DATABASE_URL</key>
	<string>https://snowman-challenge.firebaseio.com</string>
</dict>
</plist>